@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Расписание занятий ИС 9-5 3 курс</h1>
</div>

<style type="text/css">

    TABLE {
        border-collapse: collapse;
        margin: auto;
    }

    TD, TH {
        padding: 3px;
        border: 1px solid;
        text-align: center;
    }
</style>


<table>
    <tr>
        <td>Номер</td>
        <td>Предмет</td>
        <td>Преподаватель</td>
    </tr>
    <tr>
        <td colspan="3">Пн</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Элементы высшей математики</td>
        <td>Кононова М. П.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ОЭД</td>
        <td>Олейников Д. Ю.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Компьютерная графика</td>
        <td>Карась Ю. А.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Компьютерная графика</td>
        <td>Карась Ю. А.</td>
    </tr>
    <tr>
        <td>5</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Вт</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Основы философии</td>
        <td>Пичугин А. Н.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Экономика организации</td>
        <td>Емелина Т. Л.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>МДК 01.02</td>
        <td>Кучеренко Я. А.</td>
    </tr>
    <tr>
        <td>4</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Ср</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Элементы высшей математики</td>
        <td>Кононова М. П.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ОЭД</td>
        <td>Олейников Д. Ю.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>МДК 01.02</td>
        <td>Кучеренко Я. А.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>МДК 01.02</td>
        <td>Кучеренко Я. А.</td>
    </tr>
    <tr>
        <td>5</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Чт</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Иностранный язык</td>
        <td>Лашевич Ю. И.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Основы философии</td>
        <td>Пичугин А. Н.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>МДК 01.02</td>
        <td>Кучеренко Я. А.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>МДК 01.02</td>
        <td>Кучеренко Я. А.</td>
    </tr>
    <tr>
        <td>5</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Пт</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Физкультура</td>
        <td>Досужая С. А.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Элементы высшей математики</td>
        <td>Кононова М. П.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Экономика организации</td>
        <td>Емелина Т. Л.</td>
    </tr>

